.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  transition: all 0.5s ease-in;
  z-index: 999;
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 40px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 40px;
  width: 30px;
  object-fit: contain;
}

.nav__input {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 5px;
}